@import 'font-awesome-sprockets';
@import 'font-awesome';
//@import 'components';
@import 'interface/*';
@import 'views/*';


.rating {
  i {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
}